* {
  font-family: "Raleway", sans-serif;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.7;
}
canvas {
  border: rgb(196, 185, 185) 5px double;
  box-shadow: 1px 1px 1px 5px;
  background-color: rgb(12, 12, 107);
  margin-top: 50px;
}
#nameUser {
  width: 20%;
  margin-top: 10px;
}
